{% extends 'layout.html' %}

{% block header %}

     <div style="margin-top: 0px;" class="container-fluid jumbotron text-center">
        <h3 style="text-transform: uppercase">PcBoyutu Blog Sayfasına Hoşgeldiniz</h3><br>
     <h4>Bilgi Paylaştıkça Çoğalır... :)</h4>
    </div>
    <form class="form-inline my-2 my-lg-0 pb-2 d-flex flex-row-reverse">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" style="width: 400px">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form> 

{% endblock header %}

{% block body %}

{% endblock %}

